* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container {
    position: relative; 
    width: 100vw;
    height: 100vh;
}


.box {
    position: absolute; 
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red { background-color: red; top: 0; left: 0; }
.green { background-color: green; top: 0; right: 0; }
.orange { background-color: orange; bottom: 0; left: 0; }
.pink { background-color: deeppink; bottom: 0; right: 0; }


.inner-circle {
    width: 180px;
    height: 180px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-square {
    width: 80px;
    height: 80px;
    background-color: red;
}


.corner-circle {
    position: absolute; /*  */
    width: 120px;
    height: 120px;
    background-color: white;
    border-radius: 50%;
}

.top-left { top: -60px; left: -60px; }
.top-right { top: -60px; right: -60px; }
.bottom-left { bottom: -60px; left: -60px; }
.bottom-right { bottom: -60px; right: -60px; }
.top-middle { top: -60px; left: calc(50% - 60px); }
.bottom-middle { bottom: -60px; left: calc(50% - 60px); }


.center-white-box {
    position: absolute; 
    width: 160px;
    height: 160px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.center-red-circle {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
}